
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 236 33% 10%;
    --foreground: 210 40% 98%;

    --card: 236 33% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 236 33% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 180 100% 50%; /* Teal */
    --primary-foreground: 236 33% 5%;

    --stellar: 175 92% 51%;
    --stellar-foreground: 236 33% 5%;

    --secondary: 260 50% 30%;
    --secondary-foreground: 210 40% 98%;

    --muted: 260 50% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 260 50% 30%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 260 50% 25%;
    --input: 260 50% 22%;
    --ring: 175 92% 51%;

    --radius: 0.5rem;
  }

  /* The app will be dark by default */
  .dark {
    --background: 236 33% 10%;
    --foreground: 210 40% 98%;

    --card: 236 33% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 236 33% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 180 100% 50%;
    --primary-foreground: 236 33% 5%;

    --stellar: 175 92% 51%;
    --stellar-foreground: 236 33% 5%;

    --secondary: 260 50% 30%;
    --secondary-foreground: 210 40% 98%;

    --muted: 260 50% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 260 50% 30%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 260 50% 25%;
    --input: 260 50% 22%;
    --ring: 175 92% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  }
}
